{% extends 'layout.html' %}

{% block body %}

<div id="errorMessageBlock" class="d-flex flex-column align-items-center justify-content-center" style="height:100vh; display:none;">
  <h1>ERROR:</h1>
  <h2 id="errorMessageText"></h2>
</div>

<div id="googleLoginBlock" class="d-flex flex-column align-items-center justify-content-center" style="height:100vh;">
  <h1>{{ appData['name'] }}</h1>
  <div id="g_id_onload" data-client_id="{{ appData['GoogleClientID'] }}" data-context="signin" data-ux_mode="popup" data-callback="handleGoogleCredentialResponse" data-auto_prompt="false"></div>
  <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signin_with" data-size="large" data-logo_alignment="left"></div>
</div>
{% endblock %}
